@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');


:root {
    --bg-color: #FFFF;
    --text-main: #333333;
    --button-txt: #F5F5DC;
    --orange: #172070;
    --green: #182177;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Manrope', sans-serif;
    background: var(--bg-color);
    color: var(--text-main);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(92.47deg, #060A30, #2a38b8);
    padding: 1rem;
    align-items: center;
}

.logo {
    margin-left: 90px;
}

.logo img {
    width: 190px;
    height: 80px;
    border-radius: 10px;
}

.logo a {
    color: var(--text-main);
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.logo span {
    font-weight: 800;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.home-anchor {
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
}

.home-anchor:hover {
    color: #b3b3b8;
}

.nav-btn {
    background: #172070;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-btn-resource {
    background: #1C2684;
}

.nav-btn-solutions {
    background: #1A237C;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 1.5rem;
    position: absolute;
    right: 0;
    top: calc(100% + .5rem);
    background-color: var(--bg-color);
    padding: .75rem;
    border-radius: .5rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .nav-btn + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown.active > .nav-btn,
.nav-btn:hover {
    color: #b3b3b8;
} 

.flex-dropdown {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: .5rem;
    gap: .5rem;
    border-radius: .25rem;
    width: 100%;
    
}
.flex-dropdown:hover {
    background: #E4F2F1;
    color: var(--text-main);
}

.flex-dropdown a {
    text-decoration: none;
    color: var(--text-main);
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: repeat(2,max-content);
    align-items: center;
}

.flex-dropdown a img {
    width: 30px;
    height: 30px;
}

.flex-dropdown a h3 {
    /* margin-left: 10px; */
    font-size: 1rem;
    font-weight: 600;
}

.flex-dropdown a p {
    font-size: .75rem;
    font-weight: 200;
}

.flex-dropdown-sub img {
    width: 30px;
    height: 30px;

}

.flex-dropdown-sub {
    display: grid;
    grid-template-columns: repeat(2,max-content);
    gap: 1.2rem;
}

.flex-dropdown-sub a h3 {
    display: block;

   
}

.res-dropdown {
    width: 100%;
    display: block;
}

.resource-dropdown {
    display: flex;
    /* grid-template-columns: repeat(2, max-content); */
    padding: 2rem;
    /* width: fit-content; */
    left: -990%;
    /* overflow-x: hidden; */
    top: 65px;
    /* border: 1px solid #000; */
    gap: 5rem;
    width: calc(100vw - 17px);
    height: 100vh;
    box-shadow: none;
    border-radius: 0;
    z-index: 2;
    background: url("../../public/contact-bg.png");

}

.contact-main {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    color: #fff;
    /* align-items: center; */
    /* justify-content: center; */
}

.resource-flex {
    display: flex;
    gap: 2rem;
    z-index: 2;
}

.resource-flex:hover {
    background: none !important;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-left h1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 3rem;
    color: var(--orange);
}

.contact-left p {
    font-size: 1.3rem !important;
}

.contact-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-right h3 {
    font-size: 2.5rem !important;
    color: #060A30;
}

.contact-right p {
    font-size: 1.3rem !important;
}

.grid-component-head {
    color: var(--orange);
    font-size: 1rem;
    font-weight: 500;
}

.down-arrow {
    width: 18px;
    height: 15px;
    color: #fff;
}


/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}


.schedule-btn {
    /* background: var(--orange); */
    color: var(--button-txt);
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 550;
 
}

.schedule-btn:hover {
    background-color: var(--bg-color);
    /* color: var(--text-main); */
    border: 1px solid var(--text-main);
    cursor: pointer;

    
}

.learn-more-btn {
    background: var(--bg-color);
    color: var(--green);
    padding: 15px 20px;
    border: 1px solid #172070;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 550;
}

.learn-more-btn:hover {
    border:1px solid var(--green);
    border-bottom: 3px solid #1f2daf;
    cursor: pointer;
    /* background-color: rgb(255,140,0); */
    /* color: var(--green); */
}

.gradient-hero {
    font-size: 1.1rem;
    /* background: linear-gradient(92.47deg, rgb(255,140,0), #f6f16a); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: #172070;
    display: inline-block;
    font-weight: 600;
}

.gradient-hero:hover {
    font-size: 1.1rem;
    /* background: linear-gradient(192.47deg, rgb(255,140,0), #f6f16a); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: #1f2daf;
    display: inline-block;
}


.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.hero-head {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 900;
}

.predict {
    /* background: linear-gradient(to right, rgb(255,140,0), #ddc701); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: #172070;
    display: inline-block;

}

.product2-intro-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem;
    /* animation: 450ms bounceIn Linear forwards;
    animation-delay: 1s; */
}

.product2-intro-left h1 {
    font-size: 3rem;
}

.product2-intro-left p {
    font-size: 1.3rem;

}

.product2-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: -1;

}

.product2-images {
    width: 100%;
    /* position: absolute; */
    /* top: calc(50% - 100px); */
    left: 0;
    overflow: visible;
    text-align: center;
}

.product2-main-img {
    width: 700px;
    height: 650px;
    display: block;
    margin: 0 auto 20px;
    /* border-radius: 50%; */
    object-fit: cover;
    opacity: 0;
    animation: 450ms bounceIn Linear forwards;
    animation-delay: 1s;

}


@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0.3)
        translate3d(0, 0, 0);
    }
    50% {
        opacity: 0.9;
        transform: scale(1.1);
    }
    80% {
        opacity: 1;
        transform: scale(0.89);
    }
    100% {
        opacity: 1;
        transform: scale(1)
        translate3d(0, 0, 0);
    }
}



.product1-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.cards-section-two {
    display: grid;
    grid-template-columns: repeat(4,max-content);
    gap: 1rem;
    margin-top: 5rem;
}


.card-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
    width: 350px;
    height: 420px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border: 0.1px solid var(--orange);
    border-radius: 20px;
    padding: 2.5rem 1.2rem;
    transition: transform 0.3s ease-in-out;
}

.card-two-svg svg {
    width: 200px;
    height: 200px;
    
}

.card-two:hover {
    transform: scale(0.95);
    border-bottom: 3px solid var(--orange);
}

.card-two div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-two p {
    text-align: center;
}



.takedown-process-intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3.5rem;
    height: 100vh;
    margin-bottom: 50px;
}

.process-intro-left:hover {
    animation: 450ms bounceIn Linear forwards;
    animation-delay: 0.5s;
}

.process-intro-left img {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border-radius: 1.5rem;
}

.process-intro-main-image {
    position: absolute;
    width: 450px;
    z-index: 0;    
}

.process-intro-second-image {
    position: relative;
    z-index: 1;
    top: 230px;
    left: 55%;
    width: 400px;
}

.process-intro-second {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 175px;
    justify-content: center;
}

.process-intro-second p {
    font-size: 1.1rem;

}

.process-intro-second h3 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--green);
}

.process-intro-second h3 span {
    color: var(--orange);


}

.cards-section {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 2rem;
    /* padding: 5rem; */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    width: 350px;
    height: 400px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border: 0.1px solid var(--orange);
    border-radius: 20px;
    /* padding: 5.5rem 3.5rem; */
    transition: transform 0.3s ease-in-out;


}



.card:hover {
    transform: scale(0.95);
    border-bottom: 3px solid #1f2daf;
}

.card-btn {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.2rem 2rem;
    background: var(--bg-color);
    border-radius: 30px;
    border: 1px solid var(--orange);
    color: var(--green);
    font-size: 1.1rem;
    font-weight: 500;
    transition: background 0.4s ease, color 0.4s ease, transform 0.3s ease-in-out;
}

.card-btn img {
    width: 30px;
}

.card-btn:hover {
    color: var(--button-txt);
    background: #1f2daf;
    transform: scale(1.1);
}

.card p {
    font-size: 1.1rem;
}

.card-type {
    font-size: 2rem;
    font-weight: 600;
}


.cyber-cards {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;
}

.orange-card {
    background: url(../../public/card-bg.png);
    color: #fff;
    border: none;
}


.review-second {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin: 1.2rem;
  }
  
  .review {
    flex: 0 0 33.33%; /* Adjust as per your design */
    margin-right: 15px;
    background-color: #f5f5f5;
    border: 0.1px solid #172070;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 20px;
    height: 300px;
    width: 35%;
    margin-bottom: 20px;
  }
  
  .review-text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  
  .review-author {
    font-size: 1rem;
    color: #666;
    font-weight: bold;
  }
  
  .review-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .review-first{
    display: flex;
    width: 80%;
    /* gap: 3.7rem; */
    justify-content: space-between;
    /* line-height: 1.5; */
    margin-bottom: 2rem;  
  }

  .review-btn button{
    margin: 1.5rem;
  }

.review-main-text h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #172070;
}

.review-main-text h5 {
    font-size: 1.9rem;
    color: var(--green);
    margin-bottom: 1.1rem;
    margin-top: 1.1rem;
    font-weight: 600;
}

.review-main-text p {
    font-size: 1rem;
    font-weight: 450;
}

.review-btn-one {
    width: 270px;
    border-radius: 3rem;
    font-size: 1.1rem;
    padding: 1.2rem;
}

.review-btn-two {
    width: 270px;
    border-radius: 3rem;
    padding: 1.2rem;
    font-size: 1.1rem;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 10px 0;
}
 
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    padding: 1rem;
}

.review-card {
    border-radius: 25px;
    background-color: #fff;
    border: 0.1px solid #172070;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green);
    border-radius: 25px 25px 0 25px;
    z-index: -1;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--green);
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.name{
    font-size: 1.2rem;
    font-weight: 100%;
    color: #333;

}

form {
    width: 550px;
    margin: 50px auto;
    background-color: white;
    
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    

form div {
    margin-bottom: 20px;
}

.request-form-name {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    
}

label {
    display: block;
    font-weight: bold;

}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
    background-color: transparent;
}

button[type="submit"] {
    background-color: #172070;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #1f2daf;
}

/* reCAPTCHA styling */
.g-recaptcha {
    margin-bottom: 20px;
}


.description{
    font-size: 1rem;
    margin-top: 1rem;
    color: #707070;
    text-align: center;
}

.swiper-navBtn {
    color: var(--green);
    transition: color 0.5s ease;
}

.swiper-navBtn:hover {
    color: #172070;
}

.swiper-pagination-bullet-active {
    background-color: #1f2daf;
    opacity: 1;
}



.footer {
    margin-top: 150px;
    background: rgba(238,250,255,.42);
    padding: 2rem;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 210px;
}

.footer-box a {
    text-decoration: none;
    color: #141414;
}

.footer-box h5 {
    font-size: 1.1rem;

}

.footer-box a span  {
    display: none;
    transition: display 0.7s ease-in-out; 
}

.footer-box a span img {
    width: 12px;
}

.footer-box a:hover span  {
    display: inline-block;
}


.footer-spec-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    width: 800px;
    margin: 0 auto;
    border-radius: 0.5rem;
    margin-top: 50px;
    background: linear-gradient(92.47deg, #060A30, #2a38b8);
  }
  
  .footer-spec-box h1 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #fff;
  }
  
  .footer-logo a p {
    font-size: 1.1rem;
    margin-top: 0;
    color: #fff;
  }

.social-logos {
    display: flex;
    gap: 1.2rem;
}
.social-logos a img {
    width: 20px;
}

.footer-logo a{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    color: #141414;
}

.footer-logo img {
    width: 200px;
    height: 90px;
}


.schedule-btn-navbar {
    background: #172070;
    color: #fff;
    cursor: pointer;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    touch-action: manipulation;
}

.schedule-btn-navbar:before {
    border-radius: 10px;
    content: "";
    background: linear-gradient(90deg, #fff,transparent, transparent, #fff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(8px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.schedule-btn-navbar:after {
    border-radius: 10px;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #172070;
    left: 0;
    top: 0;
    color: white;

}

.footer-spec-box .footer-logo .line {
    color: #fff;
}

.footer-logo .love {
    width: 20px;
    height: 20px;
}

.footer-logo .ft-main-logo {
    width: 150px;
    height: 60px;
}


.intro-ticks {
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}

.ticks {
    display: flex;
    gap: 1.1rem;
}

.ticks img {
    width: 25px;
    height: 25px;
}


.cyber-second-right h3 span {
    color: var(--orange);
}

.cyber-second {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 3.5rem;
    height: 100vh;


}

.cyber-second-right h3 {
    font-size: 2.5rem;
    font-weight: 700;

}

.cyber-second-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.cyber-second-right p {
    font-size: 1.1rem;

}


.cyber-second-right h3 span {
    color: var(--orange);
}

.second-cyber-ticks {
    font-weight: 700;
    font-size: 1.2rem;
}


.cyber-second {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;

}

.cyber-second-right h3 {
    font-size: 2.5rem;
    font-weight: 700;

}

.cyber-second-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.cyber-second-right p {
    font-size: 1.1rem;

}


.cyber-second-right h3 span {
    color: var(--orange);
}

.second-cyber-ticks {
    font-weight: 700;
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff42;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #172070;
    border-radius: 10px;
    
}

@media only screen and (max-width:768px) {

    .card-btn {
        width: 85%;
    }

    .product2-main-img {
        width: 400px;
        height: 400px;
    }

    .home-anchor {
        color: #000;
        font-weight: 700;
        background-color: #fff;
    }

    .nav-btn {
        background: #fff !important;
        border: none;
        color: #000;
        font-weight: 500;
        font-size: 1.1rem;
    }
    
    .nav-btn-resource {
        background: #fff !important;
    }
    
    .nav-btn-solutions {
        background: #fff !important;
    }

    section {
        /* height: 100vh; */
        margin: 5px;
    }

    body {
        max-width: 100%;
        width: 100%;
        margin: 0;        
    }
    p {
        display: flex;
        flex-wrap: wrap;
        /* word-break: break-all; */
    }
    .hero {
        display: block;

        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .hero-txt {
        text-align: center;
        padding: 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo {
        margin-left: 0;
    }

    .hero-txt {
        display: block;
        width: 350px;
    }
    .logo img {
        width: 130px;
        height: 60px;
    }

    /* header {
        border-bottom: 1px solid black;
    } */

    .nav-links {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 2rem;
        height: 250px;
        flex-direction: column;
        background-color: var(--bg-color);
        width: 100%;
        text-align: center;
    }


    .nav-links.active {
        left: 0;
    }

    .schedule-btn-navbar {
        display: none;
    }

    .solutions-dropdown {
        width: 350px;
        right: -150px;
        top: 80px;
    }

    .product-dropdown{
        width: 350px;
        right: -150px;
        top: 155px;
    }

    .resource-dropdown {
        grid-template-columns: repeat(1, max-content);
        left: -160px;
        width: 400px;
        gap: 1rem;
        top: -210px;
    }

    .cards-section-two {
        grid-template-columns: repeat(1, max-content);
        margin: 1rem;
    }
    .cards-section {
        /* margin: 1rem; */
        grid-template-columns: repeat(1, max-content);
    }

    .two-factor {
        height: 400px;
    }

    .two-factor svg{
        width: 100%;
        margin: .1rem;
    }

    .two-btns {
        width: 100%;
        flex-direction: column;
    }

    .prevent-btns {
        width: 100%;
        flex-direction: column;
    }

    .prevent-btns button {
        width: 100%;
    }

    .prevent {
        width: 100%;
        margin: 0;
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .prevent-first {
        width: 95%;
    }

    .prevent-svg {
        width: 95%;
        margin: 1rem;
    }

    .footer-spec-box {
        flex-direction: column;
    }

    .review-main-container {
        width: 100%;
        max-width: 100%;
        /* height: 100vh; */
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 150px;
    }

    .review-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .review-btn {
        margin-top: 10px;
    }

    .review-btn button{
        width: 100%;
    }

    .review-btn button {
        margin: 10px;
    }

    .slide-container{
        max-width: 700px;
        width: 100%;
        padding: 10px 0;
    }

    .slide-content {
        width: 300px;
    }

    .main-integrations {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .main-integrations p {
        text-align: left;
    }

    .integration-btns {
        flex-direction: column;
    }

    .integration-ticks {
        flex-direction: column;

    }

    .main-partners {
        flex-direction: column;
    }

    .partners-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .partners-img img {
        width: 90%;
    }

    .partners-right-block {
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    .partners-btns {
        flex-direction: column;
        width: 100%;

    }

    .main-footer {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-spec-box {
        width: 100%;

    }

    .product2-intro {
        margin-bottom: 0;
        margin: 0;
        padding: 0;
        flex-direction: column;

    }

    .product2-btns {
        width: 100%;
    }

    .partners-btns a {
        width: 100%;
    }

    .partners-btns a button {
        width: 100%;
    }

    .product1-btns {
        flex-direction: column;

    }
        
    .prd1-sub-img {
        display: none;

    }

    .product1-main-img {
        width: 400px;
        height: 220px;

    }

    .takedown-process-intro {
        flex-direction: column;
        height: 100vh;
        margin: 5px;

    }

    .process-btns a {
        width: 100%;
    }

    .process-btns button {
        width: 100%;
    }

    .process-intro-main-image {
        width: 300px;

    }
    
    .process-intro-second-image {
        width: 200px;
        top: 150px;
        left: 45%;
    }

    .process-intro-second {
        margin-top: -10px;

    }

    .process-intro-left {
        width: 90%;

    }

    .cyber-cards .card {
        width: 370px;
        margin-left: 4.5rem;
    }

    .cyber-cards {
        width: 80%; 
        flex-direction: column;
        padding: 20px;
        margin-bottom: 50px;
    }

    

    .cyber-second {
        flex-direction: column;
        padding: 7px;
        margin-top: 8rem;
        align-items: center;
        justify-content: center;
    }

    form {
        width: 90%;

    }

    .product1-card {
        flex-direction: column;
        width: 100%;

    }

    .card-two {
        width: 350px;
        height: 400px;
        }


}


