@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

.cyber-second5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    /* background:url(../../public/contact-bg.png); */
    background-color: white;
    padding: 2.5rem;
}

.schedule-btn-navbar:hover {
    background-color: #0074D9;
    /* color: var(--text-main); */
    border: 1px solid var(--text-main);
    cursor: pointer;
    color: white;
}


.ticks img {
    height: 2rem;
    width: auto;
}
