@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');


:root {
    --bg-color: #FFFF;
    --text-main: #333333;
    --button-txt: #F5F5DC;
    --orange: #182177;
    --green: #182177;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-svg {
    animation: ibrahimmain 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

.ibrahim-main {
    animation: ibrahimmain 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes ibrahimmain {
    from {
        transform: scaleX(0);
        transform-origin: left;
    }
    to {
        transform: scaleX(1);
        transform-origin: left;
    }
}

.ibrahim {
    animation: ibrahim 3s linear infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes ibrahim {
    from {
        translate: 0 0.3rem;
        scale: .9;
    }
    to {
        translate: 0 -0.3rem;
        scale: 1;
    }
}


body {
    font-family: 'Manrope', sans-serif;
    background: var(--bg-color);
    color: var(--text-main);
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(92.47deg, #060A30, #2a38b8);
    padding: 1rem;
    align-items: center;
}

.logo {
    margin-left: 90px;
}

.logo img {
    width: 190px;
    height: 80px;
    border-radius: 10px;

}

.logo a {
    color: var(--text-main);
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.logo span {
    font-weight: 800;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-links li {
    list-style: none;
}

.home-anchor {
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
}

.home-anchor:hover {
    color: #b3b3b8;
}

.nav-btn {
    background: #172070;
    border: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.nav-btn-resource {
    background: #1C2684;
}

.nav-btn-solutions {
    background: #1A237C;
}
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 1.5rem;
    position: absolute;
    right: 0;
    top: calc(100% + .5rem);
    background-color: var(--bg-color);
    padding: .75rem;
    border-radius: .5rem;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .nav-btn + .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown.active > .nav-btn,
.nav-btn:hover {
    color: #b3b3b8;
} 

.flex-dropdown {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: .5rem;
    gap: .5rem;
    border-radius: .25rem;
    width: 100%;
    
}
.flex-dropdown:hover {
    background: #E4F2F1;
    color: var(--text-main);
}

.flex-dropdown a {
    text-decoration: none;
    color: var(--text-main);
    display: grid;
    /* justify-content: space-around; */
    grid-template-columns: repeat(2,max-content);
    align-items: center;
}

.product-flexdown a {
    gap: 1.5rem;
}

.flex-dropdown a img {
    width: 30px;
    height: 30px;
}

.flex-dropdown a h3 {
    /* margin-left: 10px; */
    font-size: 1rem;
    font-weight: 600;
}

.flex-dropdown a p {
    font-size: .75rem;
    font-weight: 200;
}

.flex-dropdown-sub img {
    width: 30px;
    height: 30px;

}

.flex-dropdown-sub {
    display: grid;
    grid-template-columns: repeat(2,max-content);
    text-align: center;
    gap: 1.2rem;
}

.flex-dropdown-sub a h3 {
    display: block;

   
}

.res-dropdown {
    width: 100%;
    display: block;
}

.resource-dropdown {
    display: flex;
    /* grid-template-columns: repeat(2, max-content); */
    padding: 2rem;
    /* width: fit-content; */
    left: -990%;
    /* overflow-x: hidden; */
    top: 65px;
    /* border: 1px solid #000; */
    gap: 5rem;
    width: calc(100vw - 17px);
    height: 100vh;
    box-shadow: none;
    border-radius: 0;
    background:url(../../public/contact-bg.png);

}

.contact-main {
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
    color: #fff;
    background:url(../../public/contact-bg.png);
    height: 100vh;
    /* align-items: center; */
    /* justify-content: center; */
}

.down-arrow {
    width: 18px;
    height: 15px;
    color: #fff;
}

.resource-flex {
    display: flex;
    gap: 2rem;
}

.resource-flex:hover {
    background: none !important;
}

.contact-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-left h1 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 3rem;
    color: var(--orange);
}

.contact-left p {
    font-size: 1.3rem !important;
}

.contact-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-right h3 {
    font-size: 2.5rem !important;
    color: #060A30;
}

.contact-right p {
    font-size: 1.3rem !important;
}

.grid-component-head {
    color: var(--orange);
    font-size: 1rem;
    font-weight: 500;
}




/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-main);
}


.schedule-btn {
    background: var(--orange);
    color: var(--button-txt);
    padding: 15px 20px;
    border: 3px solid var(--orange);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 550;
}

.schedule-btn:hover {
    background-color: var(--bg-color);
    color: var(--text-main);
    border: 3px solid #172070;
    cursor: pointer;
}

.learn-more-btn {
    background: var(--bg-color);
    color: var(--green);
    padding: 15px 20px;
    border: 1px solid var(--green);
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 550;
}

.learn-more-btn:hover {
    border:1px solid var(--green);
    border-bottom: 3px solid var(--green);
    cursor: pointer;
    background-color: #172070;
    color: #fff;
}

.gradient-hero {
    font-size: 1.1rem;
    /* background: linear-gradient(92.47deg, #FF66B3, #f6f16a); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: var(--orange);
    display: inline-block;
    font-weight: 600;
}



.main-card2 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

.hero-head {
    text-align: center;
    font-size: 2.4rem;
    color: var(--green);
    font-weight: 900;
}



.predict {
    /* background: linear-gradient(to right, #FF66B3, #ddc701); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: var(--orange);
    display: inline-block;

}

.predict:hover {
    /* background: linear-gradient(to left, #FF66B3, #f6f16a); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: #1f2daf;
    display: inline-block;
}

.hero-txt {
    font-size: 1rem;
    text-align: center;
    width: 780px;
    padding: 20px;
    font-weight: 450;
    word-spacing: 2px;
}

.two-btns {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

.prevent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 2rem;
}

.prevent-first {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.prevent-txt h2 {
    font-size: 2.3rem;
    font-weight: 800;
}

.prevent-svg {
    display: block;
    width: 50%;
    margin-right: 10%;
}

.prevent-btns {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    gap: 2.5rem;
    margin-top: 2rem;
}

.two-factor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    background: #E4F2F1;
    border-radius: 10px;
    padding: 15px;
}

.two-factor svg {
    height: 450px;
    padding: 15px;
}

.two-factor-txt {
    color: var(--green);
}

.main-card-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-section {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 350px;
    height: 400px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border: 0.1px solid var(--orange);
    border-radius: 20px;
    padding: 2.5rem 1.2rem;
    transition: transform 0.3s ease-in-out;
}

.card:hover{
    transform: scale(0.95);
    border-bottom: 3px solid #1f2daf;
}

.card-btn {
    width: 100%;
    padding: 1.2rem 2rem;
    background: var(--bg-color);
    border-radius: 30px;
    border: 1px solid var(--orange);
    color: var(--green);
    font-size: 1.1rem;
    font-weight: 500;
    transition: background 0.4s ease, color 0.4s ease, transform 0.3s ease-in-out;
}

.card-btn:hover {
    color: var(--button-txt);
    background: #172070;
    transform: scale(1.1);
}

.card h1 {
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-type {
    font-size: 2rem;
    font-weight: 800;
}

.card p {
    text-align: center;
}

.card a {
    width: 100%;
}

.sol-grad {
    font-size: 1.3rem;
    letter-spacing: .2rem;
}



.h5-solutions {
    /* background: linear-gradient(192.47deg, , #FF66B3); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */
    color: var(--orange);
    display: inline-block;
}

.cards-section-two {
    display: grid;
    grid-template-columns: repeat(4,max-content);
    gap: 2rem;
}


.card-two {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 370px;
    height: 270px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border: 0.1px solid var(--orange);
    border-radius: 20px;
    padding: 2.5rem 1.2rem;
    transition: transform 0.3s ease-in-out;
}

.card-two:hover {
    transform: scale(0.95);
    border-bottom: 3px solid #1f2daf;
}

.card-two div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-two p {
    text-align: center;
}

.read-more {
    color: var(--orange);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

.read-more:hover {
    color: #1f2daf;
}

.threecard-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.review-second {
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    overflow: hidden;
    width: 100%;
    margin: 1.2rem;
  }
  
  .review {
    flex: 0 0 33.33%; /* Adjust as per your design */
    margin-right: 15px;
    background-color: #f5f5f5;
    border: 0.1px solid var(--orange);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 20px;
    height: 300px;
    width: 35%;
    margin-bottom: 20px;
  }
  
  .review-text {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
  }
  
  .review-author {
    font-size: 1rem;
    color: #666;
    font-weight: bold;
  }
  
  .review-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .review-first{
    display: flex;
    width: 80%;
    /* gap: 3.7rem; */
    justify-content: space-between;
    /* line-height: 1.5; */
    margin-bottom: 2rem;  
  }

  .review-btn button{
    margin: 1.5rem;
  }

.review-main-text h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--orange);
}

.review-main-text h5 {
    font-size: 1.9rem;
    color: var(--green);
    margin-bottom: 1.1rem;
    margin-top: 1.1rem;
    font-weight: 600;
}

.review-main-text p {
    font-size: 1rem;
    font-weight: 450;
}

.review-btn-one {
    width: 270px;
    border-radius: 3rem;
    font-size: 1.1rem;
    padding: 1.2rem;
}

.review-btn-two {
    width: 270px;
    border-radius: 3rem;
    padding: 1.2rem;
    font-size: 1.1rem;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 10px 0;
}
 
.slide-content {
    margin: 0 40px;
    overflow: hidden;
    padding: 1rem;
}

.review-card {
    border-radius: 25px;
    background-color: #fff;
    border: 0.1px solid var(--orange);
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--green);
    border-radius: 25px 25px 0 25px;
    z-index: -1;
}

.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--green);
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #fff;
}

.name{
    font-size: 1.2rem;
    font-weight: 100%;
    color: #333;

}

.description{
    font-size: 1rem;
    margin-top: 1rem;
    color: #707070;
    text-align: center;
}

.swiper-navBtn {
    color: var(--green);
    transition: color 0.5s ease;
}

.swiper-navBtn:hover {
    color: #1f2daf;
}

.swiper-pagination-bullet-active {
    background-color: var(--orange);
    opacity: 1;
}

.main-integrations {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 18rem;
    justify-content: center;
    gap: 2rem;
    color:var(--orange);
}

.integration-head {
    display: flex;
    flex-direction: column;
    /* gap: 1.2rem; */
    background-color: var(--bg-color);
    align-items: center;
    justify-content: center;
    color: var(--orange);
    /* font-size: 1.2rem; */
}

.integration-head h2 {
    font-size: 3.4rem;
    color: var(--green);
}

.integration-head h3 {
    font-size: 2.8rem;
}

.integration-head h5 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

.integration-btns {
    display: flex;
    gap: 2rem;
}

.main-integrations p {
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
    color: #141414;
}

.integration-ticks {
    display: flex;
    gap: 1.4rem;
}

.integration-ticks div {
    display: flex;
    gap: 1rem;
}

.integration-ticks img {
    width: 30px;
}

.integration-ticks p {
    color: var(--green);
}

.main-partners{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: #141414;
}

.partners-head{
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--orange);

}

.partners-head h2 {
    font-size: 2.2rem;
    color: var(--green);


}

.partners-head h5 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-align: center;

}

.partners-right-block {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


}

.partners-main-para {
    font-size: 1.2rem;
    font-weight: 600;
}

.partners-img img{
    width: 650px;
}

.partners-btns {
    display: flex;
    gap: 1.3rem;

}

.footer {
    margin-top: 150px;
    background: rgba(238,250,255,.42);
    padding: 2rem;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 210px;
}

.footer-box a {
    text-decoration: none;
    color: #141414;

}

.footer-box h5 {
    font-size: 1.1rem;

}

.footer-box a span  {
    display: none;
    transition: display 0.7s ease-in-out; 
}

.footer-box a span img {
    width: 12px;
}

.footer-box a:hover span  {
    display: inline-block;
}


.footer-spec-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.2rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    width: 800px;
    margin: 0 auto;
    border-radius: 0.5rem;
    margin-top: 50px;
    background: linear-gradient(92.47deg, #060A30, #2a38b8);
  }
  
  .footer-spec-box h1 {
    font-size: 1.2em;
    margin: 10px 0;
    color: var(--green);

  }
  
  .footer-logo a p {
    font-size: 1.1rem;
    margin-top: 0;
    color: #fff;
  }

.social-logos {
    display: flex;
    gap: 1.2rem;
}
.social-logos a img {
    width: 20px;
}

.footer-logo a{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
    text-decoration: none;
    color: #141414;
}

.footer-logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;

}

.schedule-btn-navbar {
    background: #182177;
    color: #fff;
    cursor: pointer;
    z-index: 0;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    touch-action: manipulation;
}

.schedule-btn-navbar:before {
    content: "";
    background: linear-gradient(90deg, #fff,transparent, transparent, #fff);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(8px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
}

@keyframes glowing-button {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 400% 0;
    }
}

.schedule-btn-navbar:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #182177;
    left: 0;
    top: 0;

}

.footer-logo .love {
    width: 20px;
    height: 20px;
}

.footer-logo .ft-main-logo {
    width: 150px;
    height: 60px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff42;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #172070;
    border-radius: 10px;
    
}

@media only screen and (max-width:768px) {

    .home-anchor {
        color: #060A30;
        background-color: #fff;
        font-weight: 700;
    }

    section {
        /* height: 100vh; */
        margin: 5px;
    }

    body {
        max-width: 100%;
        width: 100%;
        margin: 0;        
    }
    p {
        display: flex;
        flex-wrap: wrap;
        /* word-break: break-all; */
    }
    .hero {
        display: block;

        width: 100%;
        text-align: center;
        padding: 1rem;
    }

    .hero-txt {
        text-align: center;
        padding: 0;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .logo {
        margin-left: 0;
    }

    .hero-txt {
        display: block;
        width: 350px;
    }
    .logo img {
        width: 90px;
        height: 40px;
    }

    /* header {
        border-bottom: 1px solid black;
    } */

    .nav-links {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 2rem;
        height: 250px;
        flex-direction: column;
        background-color: var(--bg-color);
        width: 100%;
        text-align: center;
    }

    .nav-btn {
        background: #fff;
        border: none;
        color: #060A30;
        font-weight: 500;
        font-size: 1.1rem;
    }
    
    .nav-btn-resource {
        background: #fff;
    }
    
    .nav-btn-solutions {
        background: #fff;
    }

    .nav-links.active {
        left: 0;
    }

    .schedule-btn-navbar {
        display: none;
    }

    .solutions-dropdown {
        width: 350px;
        right: -150px;
        top: 80px;
    }

    .product-dropdown{
        width: 350px;
        right: -150px;
        top: 155px;
    }

    .resource-dropdown {
        grid-template-columns: repeat(1, max-content);
        left: -160px;
        width: 400px;
        gap: 1rem;
        top: -210px;
    }

    .cards-section-two {
        grid-template-columns: repeat(1, max-content);
        margin: 1rem;
    }
    .cards-section {
        margin: 1rem;
        grid-template-columns: repeat(1, max-content);
    }

    .two-factor {
        height: 400px;
    }

    .two-factor svg{
        width: 100%;
        margin: .1rem;
    }

    .two-btns {
        width: 100%;
        flex-direction: column;
    }

    .two-btns button {
        width: 100%;
    }

    .two-btns a {
        width: 100%;
    }

    .prevent-btns {
        position: relative;
        width: 100%;
        flex-direction: column;
        gap: 1rem;
        left: -15px;
    }

    .prevent-btns a {
        width: 100%;
    }

    .prevent-btns button {
        width: 100%;
    }

    .prevent {
        width: 100%;
        margin: 0;
        padding: 1rem;
        flex-direction: column;
    }

    .prevent-first {
        width: 100%;
        left: 0;
    }

    .prevent-svg {
        width: 100%;
    }

    .prevent-svg svg{
        width: 100%;
        margin: 1rem;

    }

    .review-main-container {
        width: 100%;
        max-width: 100%;
        /* height: 100vh; */
        justify-content: center;
    }

    .review-first {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .review-btn button{
        width: 100%;
    }

    .review-btn button {
        margin: 10px;
    }

    .slide-container{
        max-width: 700px;
        width: 100%;
        padding: 10px 0;
    }

    .slide-content {
        width: 300px;
    }

    .main-integrations {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }

    .main-integrations p {
        text-align: left;
    }

    .integration-btns {
        flex-direction: column;
    }

    .integration-ticks {
        flex-direction: column;
        margin-bottom: 18rem;

    }

    .main-partners {
        flex-direction: column;
    }

    .bar {
        background: #fff;
    }

    .partners-img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .partners-img img {
        width: 90%;
    }

    .partners-right-block {
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    .partners-btns {
        flex-direction: column;
        width: 100%;

    }

    .partners-btns a {
        width: 100%;
    }

    .partners-btns button {
        width: 100%;
    }

    .main-footer {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-spec-box {
        width: 100%;
        flex-direction: column;
    }
}